<div class="container">
    <table class="table table-striped text-center">
        <thead>
            <tr>
                <th>Product</th>
                <th>Quantity</th>
                <th>Amount</th>
            </tr>
        </thead>
        <tbody>
            @for (product of cart; track product) {
                <tr>
                    <td>{{ product.productName }}</td>
                    <td>{{ product.quantity }}</td>
                    <td>{{ product.amount }}</td>
                    <td>
                        <button class="btn btn-outline-danger" (click)="deleteProduct(product.productName)">
                            <i class="bi bi-trash"></i>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>   
</div>