<nav class="navbar navbar-expand-lg navbar-light bg-light mb-5">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="/">Home</a>
                </li>
                @if (!isAuthorized()) {
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/register">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/login">Log In</a>
                    </li>
                } @else if(isAuthorized()) {
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/products">Products</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/cart">Cart</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" (click)="logout()">Log out</a>
                    </li>
                }
            </ul>
        </div>
    </div>
</nav>
<router-outlet></router-outlet>